html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

#__next {
  min-height: 100%;
  overflow: hidden;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
